

#app_name{
	font-size: 50px;
	margin: 20px 0px 20px -36px;
}

#deviceready{
	margin-bottom: 10px;
}

#swipe{
	color: black;
	margin-top: 30px;
}

.button_show {
	display: block;
	position: absolute;
	margin-left: 73px;
	margin-top: -144px;
	z-index: 1;
	width: 80px;
	height: 80px;
}

.button_hide {
	display: none;
}

#disc.rotating {

	top: 50%;
	left: 50%;
	z-index: 0;
	width: 200px;
	height: 200px;
	-webkit-animation:spin 4s linear infinite;
	-moz-animation:spin 4s linear infinite;
	animation:spin 4s linear infinite;
}

#disc.stop {

	top: 50%;
	left: 50%;
	z-index: 0;
	width: 200px;
	height: 200px;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.record_show {
	display: inline;
	top: 50%;
	left: 50%;
	width: 80px;
	height: 80px;
}

.record_hide {
	display: none;
}

ul,li{list-style: none;}
a:link,a:visited{text-decoration: none;}
.list{width: 210px;margin:40px auto 0 auto;text-align:left;}
.list ul li{border-bottom:0;}
.list ul li a{padding-left: 10px;color: #fff; font-size:16px; display: block; font-weight:bold; height:36px;line-height: 36px;position: relative;
}
.list ul li .inactive{ background:url(../img/off.png) no-repeat 184px center;}
.list ul li .inactives{background:url(../img/on.png) no-repeat 184px center;}
.list ul li ul{display: none;}
.list ul li ul li { border-left:0; border-right:0;}
.list ul li ul li ul{display: none;}
.list ul li ul li a{ padding-left:20px;}
/*.list ul li ul li ul li { background-color:#d6e6f1; border-color:#6196bb; }*/
/*.last{ background-color:#d6e6f1; border-color:#6196bb; }*/
.list ul li ul li ul li a{padding-left:30px;}

#menulist {
	height: 100%;
	position: fixed;
	width: 300px;
	left: -300px;
	margin-top: -45%;
}

#menuicon {
	position: absolute;
	margin-left: -45%;
	margin-top: -100%;
	width: 50px;
	height: 50px;
}

#leftimage {
	position: absolute;
	margin-left: -65%;
    margin-top: -12%;
    margin-bottom: 0px;
	width: 80px;
	height: 80px;
}

#rightimage {
	position: absolute;
    margin-left: 31%;
    margin-top: -12%;
    margin-bottom: 0px;
    width: 80px;
    height: 80px;
}